@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #101729;
    color: #FFF;
}

video { 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    opacity: 0.7;
}

#mainNavbar{
    background-color: #101729;
}

#logo{
    width: 5%;
}

#title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
    z-index: 5;
    color: #FFF;
    font-family: 'McLaren';
}

#title h1 {
    font-size: 12vw;
    top: 50%;
}

#title h3 {
    font-size: 2.5vw;
    top: 50%;
}
